body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('danceparty.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.crazy{
  height:300px;
  width:400px;
  background-image:url('players-lionel-messi.jpg');
  overflow: hidden;
}
.dizzy{
  height:300px;
  width:200px;
  background-image:url('ronaldo.gif');
  overflow: hidden;
}

